:root {
   --color-accent-two: #FFFFFF;
   --color-logo: #000000;
   --color-accent: #2196F3;
   --color-titel-nav: #212121;
   --color-main: #757575;
   --color-contactsfooter: rgba(255, 255, 255, 0.6);
   --background-color-main: #F5F5F5;
   --background-color-headerfooter: #2F303A;
   --background-color-sectionteam: #F5F4FA;
}

body {
    color: var(--color-main);
}

/* nav */
.background-header {
    color: var(--color-accent-two);
}
.logo {
    color: var(--color-logo);
}

.logo-web-blue {
    color: var(--color-accent);
}

/* marker list */
.list {
    list-style: none;
}

.link,
.link,
.link{
    color: var(--color-titel-nav);
}
.site-nav .link.current {
    color: var(--color-accent);
}

.link:hover,
.link:focus,
.link:active {
    color: var(--color-accent);
}

.contacts-header a {
    color: var(--color-main);
}

.contacts-header-mail:hover,
.contacts-header-mail:focus {
    color: var(--color-accent);
}

.contacts-header-tel:hover,
.contacts-header-tel:focus {
    color: var(--color-accent);
}

/* <!-- перша секція --> */
.background-main {
    background-color: var(--background-color-main);
}

.section-main{
    background-color:var(--background-color-headerfooter);
}

.section-main h1 {
    color: var(--color-accent-two);
}

.primary {
    background-color: var(--color-accent);
    color: var(--color-accent-two)
}

/* <!-- друга секція --> */


.section-titel {
    color: var(--color-titel-nav);
}

.section-features h3 {
    color: var(--color-titel-nav);
}

/* <!-- четверта секція --> */

.section-team {
    background-color: var(--background-color-sectionteam);
}
.section-team h3 {
    color: var(--color-titel-nav)
    ;
}

/* <!-- портфоліо --> */
.list button {
    color: var(--color-titel-nav);
}
.list h2 {
    color: var(--color-titel-nav);
}





/* <!-- футер --> */
.footer {
    background-color: var(--background-color-headerfooter);
}

.footer-logo {
    color: var(--color-accent-two);
}

.contacts-footer-street {
    color: var(--color-accent-two);
}

.contacts-footer-mail,
.contacts-footer-tel {
    color: var(--color-contactsfooter);
}

.contacts-footer-street:hover,
.contacts-footer-mail:hover,
.contacts-footer-tel:hover { 
    color: #2196F3;
}

.contacts-footer-street:focus,
.contacts-footer-mail:focus,
.contacts-footer-tel:focus { 
    color: #2196F3;
}




















