:root {
   --color-accent-two: #FFFFFF;
   --color-logo: #000000;
   --color-accent: #2196F3;
   --color-titel-nav: #212121;
   --color-main: #757575;
   --color-contactsfooter: rgba(255, 255, 255, 0.6);
   --background-color-main: #F5F5F5;
   --background-color-headerfooter: #2F303A;
   --background-color-sectionteam: #F5F4FA;
}

body {
    color: var(--color-main);
    background-color: var(--color-accent-two);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* nav */

.logo {
    color: var(--color-logo);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}

.logo-web-blue {
    color: var(--color-accent);
}

/* marker list */
.list {
    list-style: none;
}

.site-nav .link{
    color: var(--color-titel-nav);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current {
    color: var(--color-accent);
}

.link:hover,
.link:focus,
.link:active {
    color: var(--color-accent);
}

.contacts-header a {
    color: var(--color-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-header-mail:hover,
.contacts-header-mail:focus {
    color: var(--color-accent);
}

.contacts-header-tel:hover,
.contacts-header-tel:focus {
    color: var(--color-accent);
}

.background-main {
    background-color: var(--background-color-main);
}

/* <!-- перша секція --> */

.section-main{
    background-color:var(--background-color-headerfooter);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-main h1 {
    color: var(--color-accent-two);
}

.button-primary {
    background-color: var(--color-accent);
    color: var(--color-accent-two);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-primary:hover{
    color: var(--color-titel-nav);
}

.button-primary:focus{
    color: var(--color-titel-nav);
}

/* <!-- друга секція --> */
.section-titel{
    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
}

.section-features h3 {
    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-features p {
    font-size: 14px;
    line-height: 1.7;
}

/* <!-- четверта секція --> */
.section-team {
    background-color: var(--background-color-sectionteam);
}

.section-team h3 {
    color: var(--color-titel-nav);
    font-weight: 500;
    font-size: 16px;
    line-height: 0.84;
    text-align: center;
}

.section-team p {
    font-size: 16px;
    line-height: 0.84;
    text-align: center;
}

/* <!-- портфоліо --> */
.list .button-secondary.filter {
    background-color: var(--color-accent);
    color: var(--color-accent-two);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.button-secondary {
    background-color: var(--background-color-sectionteam);
    color: var(--color-titel-nav);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.button-secondary:hover{
    color: var(--color-accent);
}

.button-secondary:focus{
    color: var(--color-accent);
}

.list h2 {
    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list p {
    font-size: 16px;
    line-height: 1.9;
}

/* <!-- футер --> */
.footer {
    background-color: var(--background-color-headerfooter);
}

.footer-logo {
    color: var(--color-accent-two);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.contacts-footer {
    font-size: 14px;
    line-height: 1.7;
}

.contacts-footer-street {
    color: var(--color-accent-two);
}

.contacts-footer-mail,
.contacts-footer-tel {
    color: var(--color-contactsfooter);
}

.contacts-footer-street:hover,
.contacts-footer-mail:hover,
.contacts-footer-tel:hover { 
    color: #2196F3;
}

.contacts-footer-street:focus,
.contacts-footer-mail:focus,
.contacts-footer-tel:focus { 
    color: #2196F3;
}




















